# bootloader/grub/grub.cfg.template — GRUB2 configuration for ShreeOS
# Templated with DISTRO_NAME and DISTRO_VERSION at ISO build time.
# The ISO builder puts the kernel and initramfs directly under /boot.

set default="${DISTRO_NAME}"
set timeout=1

serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input --append serial console
terminal_output --append serial console

if loadfont $prefix/fonts/unicode.pf2; then :; elif loadfont /boot/grub/fonts/unicode.pf2; then :; fi
if [ "$grub_platform" = efi ]; then
  insmod efi_gop
fi
if loadfont /boot/grub/fonts/unicode.pf2 || ls $prefix/fonts/unicode.pf2; then
  set gfxmode=auto
  insmod gfxterm
fi

menuentry "${DISTRO_NAME} ${DISTRO_VERSION}" --id="${DISTRO_NAME}" {
  linux /boot/bzImage ${CMDLINE_EXTRA} console=tty0 console=ttyS0,115200n8
  initrd /boot/initramfs.cpio.gz
}

menuentry "${DISTRO_NAME} ${DISTRO_VERSION} (recovery mode)" --id="recovery" {
  linux /boot/bzImage shreeos.mode=recovery ${CMDLINE_EXTRA} single console=tty0 console=ttyS0,115200n8
  initrd /boot/initramfs.cpio.gz
}

menuentry "${DISTRO_NAME} Previous Working State (SafeUpdate Rollback)" --id="previous-working-state" {
  linux /boot/bzImage shreeos.rollback=1 ${CMDLINE_EXTRA} single console=tty0 console=ttyS0,115200n8
  initrd /boot/initramfs.cpio.gz
}

menuentry "Reboot" --id="reboot" {
  reboot
}

menuentry "Shutdown" --id="shutdown" {
  halt
}
